@model IEnumerable<DataLayer.Data.RoomEntity>

@{
    ViewData["Title"] = "AllRooms";
}

<div class="row">
    <h1>Gestione Camere</h1>
    <hr />
    <di class="custom-container">
        <table class="table" id="roomTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td data-is-double="@item.Type">
                </td>
                <td>
                    <a asp-action="DetailRooms" asp-route-roomNumber="@item.RoomNumber" class="custom-link-btn">Dettagli</a>
                    <a asp-action="EditRoom" asp-route-roomNumber="@item.RoomNumber" class="custom-link-btn">Modifica</a>
                </td>
            </tr>
    }
        </tbody>
        </table>
    </di>
</div>
@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let rows = document.querySelectorAll('#roomTable tbody tr');
            rows.forEach(function (row) {
                let isDoubleCell = row.querySelector('[data-is-double]');
                let isDouble = isDoubleCell.getAttribute('data-is-double') === 'True';

                isDoubleCell.textContent = isDouble ? 'Doppia' : 'Singola';
            });
        });
    </script>
}