@model DataLayer.Data.BookingEntity

@{
    ViewData["Title"] = "Client Booking";
}

<h1>Prenotazione Cliente</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientFiscalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientFiscalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroProgressivoAnno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroProgressivoAnno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caparra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caparra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfStay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfStay)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="BookingService" asp-action="AddService" asp-route-BookingId="@Model.BookingId">Aggungi servizio</a> |
    <a asp-action="Index">Back to List</a>
</div>
